<h2>
  Listing items
</h2>

<ul>
  <% items.each do |item| %>
    <li data-id="<%= item[:id] %>">
      <a href="/list/<%= item[:id] %>">
        <%= item[:name] %>
      </a>
      <form action="/list/<%= item[:id] %>" method="delete" style="display: inline;">
        <input type="button" name="name" value="Delete" id="delete-button">
      </form>
    </li>
  <% end %>
</ul>
