<h2>Start testing!</h2>

<p>
  Down below you'll see your current session info. Your Sessions' visit count to <strong>/list</strong> should increment every time you visit the list. Either via link or using <strong>back</strong> functionality.
</p>

<p>
  You can start enabling the fixes one by one. Your session is reset every time you enable a fix.
</p>

<a href="/list">List items</a>
